html, 
body {
    height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin: 0px 0px 10px 0px;
}

.content {
  margin: 20px auto;
  width: 90%;
  text-align: center;
}

img {
	width: auto;
	height: 650px;
	display: block;
	margin: auto;
}

#nasaVideo {
	width: auto;
	height: 650px;
	margin: auto;
	display: none;
}